<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Examen Prog Web</title>
    <link href="css/style.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/mordernizr")
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Programación Web</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Home/Index">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Product/GetProducts">Productos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Clients/GetClients">Clientes</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Seller/GetSellers">Vendedores</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Suppliers/GetSuppliers">Proveedores</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle"> Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                @RenderBody()
                <footer>
                    <p>&copy; @DateTime.Now.Year - Examen Programación web</p>
                </footer>
            </div>
        </div>
    </div>
   
    @Styles.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>